body {}

@keyframes bg_animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1920px 1080px;
    }
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("https://i.imgur.com/54t3BiF.png");
    background-attachment: fixed;
    color: white;
    /*transition: .5s ease-in-out;*/
    animation-name: bg_animation;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.title {
    font-size: 48px;
    margin-top: 150px;
}

.title2 {
    font-size: 48px;
    margin-top: 100px;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #7289DA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
}

.button:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #8EA5E2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2 {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #9172da;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
}

.button2:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #ab8ee2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button3 {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #72daa9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
}

.button3:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #8ee2c2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.version {
    position: fixed;
    bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 24px;
}

.back {
    position: fixed;
    bottom: 24px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 24px;
    text-decoration: none;
}

.back:hover {
    transition-duration: 0.4s;
    color: rgb(211, 211, 211);
}

.changelog {
    text-align: center;
    font-weight: bold;
}

.img_right {
    border-radius: 12px;
    margin-left: 924px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_left {
    border-radius: 12px;
    margin-left: 428px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
    margin-top: -250px;
    margin-right: 114px;
}

.text2 {
    margin-top: -150px;
    margin-bottom: -148px;
    padding-left: 462px;
}

.text3 {
    margin-top: -50px;
    margin-right: 114px;
}

.text4 {
    margin-top: 50px;
    margin-bottom: -304px;
    padding-left: 342px;
}